<fieldset class="form">
  <legend class="form__legend js__fill">
    <div class="form__legend__1">
      <i class="fa-regular fa-keyboard form__legend__icon1"></i>
      <span class="form__legend__text">RELLENA</span>
    </div>
    <i class="fa-solid fa-angle-down form__legend__icon2"></i>
  </legend>
  <div class="js__form collapsed js__allInputs">
    <div class="form__items">
      <label for="Nombre Completo">Nombre completo</label>
      <input
        class="form__items__box js__profile-name"
        placeholder="Ej: Sally Jill"
        type="text"
        name="name"
        id="Nombre completo"
      />
    </div>

    <div class="form__items">
      <label for="Puesto">Puesto</label>
      <input
        class="form__items__box js__profile-job"
        placeholder="Ej: Front-end unicorn"
        type="text"
        name="job"
        id="Puesto"
      />
    </div>

    <div class="form__items">
      <label for="title">Imagen de perfil</label>
      <div class="form__items-image">
        <div class="action">
          <label class="action__upload-btn" for="img-selector"
            >Añadir imagen</label
          >
          <input
            type="file"
            name=""
            id="img-selector"
            class="action__hiddenField js__profile-upload-btn"
          />
        </div>
        <div class="profile">
          <div
            class="profile__image js__profile-image"
            style="background-image: url()"
          ></div>
        </div>
      </div>
    </div>

    <div class="form__items">
      <label for="Email">Email</label>
      <input
        class="form__items__box js__profile-email"
        placeholder="Ej: salyy-hill@gmail.com"
        type="email"
        name="email"
        id="email"
      />
    </div>

    <div class="form__items">
      <label for="Teléfono">Teléfono</label>
      <input
        class="form__items__box js__profile-phone"
        placeholder="Ej: 55-55-55-55"
        type="tel"
        name="phone"
        id="tel"
      />
    </div>

    <div class="form__items">
      <label for="Linkedin">Linkedin</label>
      <input
        class="form__items__box js__profile-linkedin"
        placeholder="Ej: sally.hill"
        type="text"
        name="linkedin"
        id="Linkedin"
      />
    </div>

    <div class="form__items">
      <label for="Github">Github</label>
      <input
        class="form__items__box js__profile-github"
        placeholder="Ej: sally-hill"
        type="text"
        name="github"
        id="Github"
      />
    </div>
  </div>
</fieldset>
