<fieldset class="form">
<leyend class="form__leyend"> 
<i class="fa-regular fa-keyboard form__leyend__icon"></i>
<span class="form__leyend__text">RELLENA</span>
<i class="fa-solid fa-angle-up form__leyend__icon2"></i>
</leyend> 


<div class="form__items">
    <label for="Nombre Completo">Nombre completo</label>
    <input class="form__items__box"placeholder="Ej: Sally Jill" type="text" id="Nombre completo">
</div>

<div class="form__items">
    <label for="Puesto">Puesto</label>
    <input class="form__items__box"placeholder="Ej: Front-end unicorn" type="text" id="Puesto">
</div>

<div class="form__items">
    <label class="form__items__button" for="Imagen de perfil">Añadir imagen</label>
</div>
 
<div class="form__items">
    <label for="Email">Email</label>
    <input class="form__items__box" placeholder="Ej: salyy-hill@gmail.com" type="email" id="email">
</div>

<div class="form__items">
    <label for="Teléfono">Teléfono</label>
    <input class="form__items__box" placeholder="Ej: 55-55-55-55" type="tel" id="tel">
</div>

<div class="form__items">
    <label for="Linkedin">Linkedin</label>
    <input class="form__items__box" placeholder="Ej: linkedin.com/in/sally.hill" type="text" id="Linkedin">
</div>

<div class="form__items">
    <label for="Github">Github</label>
    <input class="form__items__box" placeholder="Ej: @sally-hill" type="text" id="Github">
</div>
    
</fieldset>