<fieldset class="form2">
<leyend class="form2__title"> 
<i class="fa-regular fa-keyboard form2__title__icon"></i>
<span class="form2__title__text">RELLENA</span>
</leyend>


<div class="form2__items">
    <label for="Nombre Completo">Nombre completo</label>
    <input class="form2__items__box"placeholder="Ej: Sally Jill" type="text" id="Nombre completo">
</div>

<div class="form2__items">
    <label for="Puesto">Puesto</label>
    <input class="form2__items__box"placeholder="Ej: Front-end unicorn" type="text" id="Puesto">
</div>

<div class="form2__button">
    <label for="Imagen de perfil">Imagen de perfil</label>
    <input class="form2__buton__box" type= "file" value="Añadir imagen">
</div>
 
<div class="form2__items">
    <label for="Email">Email</label>
    <input class="form2__items__box" placeholder="Ej: salyy-hill@gmail.com" type="email" id="email">
</div>

<div class="form2__items">
    <label for="Teléfono">Teléfono</label>
    <input class="form2__items__box" placeholder="Ej: 55-55-55-55" type="tel" id="tel">
</div>

<div class="form2__items">
    <label for="Linkedin">Linkedin</label>
    <input class="form2__items__box" placeholder="Ej: linkedin.com/in/sally.hill" type="text" id="Linkedin">
</div>

<div class="form2__items">
    <label for="Github">Github</label>
    <input class="form2__items__box" placeholder="Ej: @sally-hill" type="text" id="Github">
</div>
    
</fieldset>