<fieldset class="form">
  <legend class="form__leyend">
    <i class="fa-solid fa-share-nodes form__leyend__icon"></i>
    <span class="form__leyend__text">COMPARTE</span>
    <i class="fa-solid fa-angle-up form__leyend__icon2"></i>
  </legend>

  <div>
    <button class="button">icono Crear tarjeta</button>
  </div>

  <div class="form__items2">
    <label for="tarjeta creada">La tarjeta ha sido creada:</label>
    <input class="form__items__box2" placeholder="Ej:
    https://awesome-profile-card.com?id_A456DF0001 type="text" id="url tarjeta
    creada" /> icono
  </div>

  <div>
    <button>Compartir en twitter</button>
  </div>
</fieldset>
