<fieldset class="form">
  <legend class="form__legend js__legend">
    <div class="form__legend__1">
      <i class="fa-regular fa-object-ungroup form__legend__icon1"></i>
      <span class="form__legend__text">DISEÑA</span>
    </div>
    <i class="fa-solid fa-angle-down form__legend__icon2"></i>
  </legend>

  <div class="form__content js__context collapsed">
    <div class="form__label">
      <label for="palette">COLORES</label>
    </div>

    <div class="js__formradios">
      <div class="form__radios">
        <input
          class="form__radio js_radio-1"
          type="radio"
          name="palette"
          value="1"
          checked
        />
        <div class="form__values">
          <div class="form__color form__color--1"></div>
          <div class="form__color form__color--2"></div>
          <div class="form__color form__color--3"></div>
        </div>
      </div>

      <div class="form__radios">
        <input
          class="form__radio js_radio-2"
          type="radio"
          name="palette"
          value="2"
        />
        <div class="form__values">
          <div class="form__color form__color--4"></div>
          <div class="form__color form__color--5"></div>
          <div class="form__color form__color--6"></div>
        </div>
      </div>

      <div class="form__radios">
        <input
          class="form__radio js_radio-3"
          type="radio"
          name="palette"
          value="3"
        />
        <div class="form__values">
          <div class="form__color form__color--7"></div>
          <div class="form__color form__color--8"></div>
          <div class="form__color form__color--9"></div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
