<fieldset class="form">
    <legend class="form__legend js__fill">
        <div class="form__legend__1">
            <i class="fa-regular fa-keyboard form__legend__icon1"></i>
            <span class="form__legend__text">RELLENA</span>
        </div>
        <i class="fa-solid fa-angle-down form__legend__icon2"></i>
    </legend>
    <!-- <form action="" class="js__form collapsed"> -->
    <div class="js__form collapsed">
        <div class="form__items">
            <label for="Nombre Completo">Nombre completo</label>
            <input class="form__items__box" placeholder="Ej: Sally Jill" type="text" id="Nombre completo">
        </div>

        <div class="form__items">
            <label for="Puesto">Puesto</label>
            <input class="form__items__box" placeholder="Ej: Front-end unicorn" type="text" id="Puesto">
        </div>

        <div class="form__items">
            <label for="title">Imagen de perfil</label>
            <button class="form__items__button" for="Imagen de perfil">Añadir imagen</button>
        </div>

        <div class="form__items">
            <label for="Email">Email</label>
            <input class="form__items__box" placeholder="Ej: salyy-hill@gmail.com" type="email" id="email">
        </div>

        <div class="form__items">
            <label for="Teléfono">Teléfono</label>
            <input class="form__items__box" placeholder="Ej: 55-55-55-55" type="tel" id="tel">
        </div>

        <div class="form__items">
            <label for="Linkedin">Linkedin</label>
            <input class="form__items__box" placeholder="Ej: linkedin.com/in/sally.hill" type="text" id="Linkedin">
        </div>

        <div class="form__items">
            <label for="Github">Github</label>
            <input class="form__items__box" placeholder="Ej: @sally-hill" type="text" id="Github">
        </div>
    </div>
<!-- </form> -->
</fieldset>