<fieldset class="form">
  <legend class="form__legend js__share">
    <div class="form__legend__1">
      <i class="fa-solid fa-share-nodes form__legend__icon1"></i>
      <span class="form__legend__text">COMPARTE</span>
    </div>
    <i class="fa-solid fa-angle-down form__legend__icon2"></i>
  </legend>
  <div class="js__contextshare collapsed">
    <div class="form__contextcreate">
      <button class="button_create js_create_button">
        <i class="fa-solid fa-address-card"></i>
        <span class="btn_tex js-submitSpan">Crear tarjeta</span>
      </button>
    </div>
    <div class="error_create js__error"></div>

    <div class="js__card">
      <label class="card__new js__createcard" for="tarjeta creada">
        La tarjeta ha sido creada:
      </label>
      <a class="card__share js-response" target="_blank"> </a>

      <a class="button_share js_twitterShare" target="_blank">
        <i class="fa-brands fa-twitter"></i>
        Compartir en twitter
      </a>
    </div>
  </div>
</fieldset>
