<section class="preview__container">
  <div class="btn__reset">
    <i class="fa-solid fa-trash-can icon_reset"></i>
    <span>Reset</span>
  </div>
  <article class="container__cards">
    <h2 class="cards__name">Nombre Apellido</h2>
    <p class="cards__job">Front-end developer</p>
    <img
      class="cards__img"
      src="./assets/images/foto-de-perfil-en-linkedin.jpeg"
      alt="Foto de perfil"
    />

    <div class="container__logos">
      <a class="container__logos--redes" href="" target="_blank">
        <i class="fa-solid fa-mobile-screen-button links"></i>
      </a>
      <a class="container__logos--redes" href="mailto:@@email" target="_blank"
        ><i class="fa-regular fa-envelope links"></i
      ></a>
      <a class="container__logos--redes" href="" target="_blank">
        <i class="fa-brands fa-linkedin-in links"></i>
      </a>
      <a class="container__logos--redes" href="" target="_blank">
        <i class="fa-brands fa-github-alt links"></i
      ></a>
    </div>
  </article>
</section>
