<section class="preview js_preview">
  <div>
    <button class="preview__reset js__btnreset" type="button">
      <i class="fa-regular fa-trash-can"></i>
      <span class="cards__reset--text">Reset</span>
    </button>
    <article class="container__cards">
      <div class="card__text">
        <h2 class="cards__name js__preview_name">Nombre Apellido</h2>
        <p class="cards__job js__preview_job">Front-end developer</p>
        <div class="rectangle"></div>
      </div>

      <div class="cards__img js__profile-preview"></div>

      <div class="cards__logos">
        <a class="cards__logos--redes js__preview_phone" href="" target="">
          <i class="fa-solid fa-mobile-screen-button links"></i>
        </a>
        <a class="cards__logos--redes js__preview_email" href="" target=""
          ><i class="fa-regular fa-envelope links"></i
        ></a>
        <a class="cards__logos--redes js__preview_linkedin" href="" target="">
          <i class="fa-brands fa-linkedin-in links"></i>
        </a>
        <a class="cards__logos--redes js__preview_github" href="" target="">
          <i class="fa-brands fa-github-alt links"></i
        ></a>
      </div>
    </article>
  </div>
</section>
