// fonts

$font-title: "Merriweather";
$font-text: "Open Sans", sans-serif;
$font-card: "Montserrat";

$color-black: #000000;
$color-dark-green-blue: #114e4e;
$color-dirty-blue: #438792;
$color-light-khaki: #f9f4dc;
$color-white-two: #ffffff;
$color-dull-orange: #ec9969;
$color-gunmetal: #54585a;
$color-white-four: #f5f5f5;
$color-brownish-grey: #6b6b6b;
$color-dull-orange-opacity: #e1733443;
$color-light-grey-blue-opacity: #a0c0cf85;
$color-hospital-green: #a2deaf;
$color-radio-button: #4397f0;
$color-line: #d8d8d8;


//paleta 1
$color-dark-green-blue: #114e4e;
$color-dirty-blue: #438792;
$color-hospital-green: #a2deaf;
//paleta2
$color-dried-blood: #420101;
$color-rusty-red: #bd1010;
$color-tomato: #e95626;
//paleta 3
$color-slate: #3e5b65;
$color-faded-orange: #eab052;
$color-light-grey-blue: #a0c0cf;


