.bodyIndex {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 95px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.bodyCreate {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 115px 1fr 110px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.main2 {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    $color-white-four,
    $color-white-two 9%
  );

  @include tablet() {
    flex-direction: row-reverse;
    padding: 40px;
  }
}

.main2__form {
  width: 100%;
  padding: 30px;
  @include tablet() {
    width: 50%;
    height: auto;
  }
  }
