.main {
  display: flex;
  flex-direction: column;
  background-color: $color-white-four;
  width: 100vw;
  height: 80vh;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0px 50px;
    &--image {
      width: 250px;
      margin: 95px 35px 35px 35px;
    }
    &--title {
      color: $color-dull-orange;
      font-size: 19.2px;
      text-align: center;
      font-family: $font-title;
    }
    &--description {
      color: $color-dark-green-blue;
      text-align: center;
      font-family: $font-text;
      font-size: 0.8em;
    }
    &--icons {
      border-radius: 4px;
      border: 1.6px solid $color-dull-orange-opacity;
      height: 73.8px;
      width: 268px;
      margin-top: 40px;
      display: flex;
      justify-content: space-around;
      color: $color-dull-orange;
      font-family: $font-text;
      font-size: 12.8px;
    }
  }

  &__btn {
    background-color: $color-dirty-blue;
    color: $color-white-two;
    border-radius: 100px;
    width: 129px;
    height: 42px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 16px;
    margin: auto;
    border: none;
  }
}

a {
  font-family: $font-text;
}
.icons__title {
  color: $color-gunmetal;
}

.icon__font {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

@media all and (min-width: 768px) {
  .main {
    height: 92vh;
    &__container {
      &--image {
        margin: 200px 35px 35px 35px;
        width: 419px;
        height: 105px;
      }
      &--title {
        font-size: 24px;
      }
      &--description {
        font-size: 16px;
        width: 331px;
      }
      &--icons {
        width: 325px;
        font-size: 16px;
      }
    }
  }
}
