.form {
  &__leyend {
    &__icon {
      width: 21px;
      height: 18px;
      color: $color-dull-orange;
    }
    &__text {
      font-size: 18px;
      color: $color-gunmetal;
      font-family: $font-text;
    }
    &__icon2 {
      width: 16px;
      height: 18px;
      color: $color-gunmetal;
    }
  }

  &__items {
    font-size: 14px;
    width: 281px;
    height: 55px;
    padding: 25px 20px;
    font-family: $font-text;
    color: $color-dark-green-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &__box {
      border: solid 1px $color-hospital-green;
      width: 281px;
      height: 30px;
      align-items: center;
    }
  }

  &__button {
    background-color: $color-dull-orange;
    color: $color-white-two;
    font-size: 14px;
    border-radius: 4px;
    width: 140px;
    height: 30px;

    text-transform: uppercase;
    text-decoration: none;
    appearance: none;
  }
}
