.form {
  &__items {
    font-size: 14px;
    padding-top: 20px;
    // padding-left: 20px;
    // padding-right: 20px;
    font-family: $font-text;
    font-weight: bold;
    color: $color-dark-green-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &__box {
      border: solid 1px $color-hospital-green;
      padding-left: 10px;
      margin-top: 7px;
      width: 281px;
      height: 30px;
      align-items: center;
      opacity: 0.5;
      width: 100%;
    }

    &__button {
      background-color: $color-dull-orange;
      color: $color-white-two;
      font-size: 14px;
      border-radius: 4px;
      border: none;
      width: 140px;
      height: 30px;
      margin-top: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
