.form {
  &__items {
    font-size: 14px;
    padding-top: 20px;
    font-family: $font-text;
    font-weight: bold;
    color: $color-dark-green-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &__box {
      border: solid 1px $color-hospital-green;
      padding-left: 10px;
      margin-top: 7px;
      width: 281px;
      height: 30px;
      align-items: center;
      opacity: 0.5;
      width: 100%;
    }

    &__button {
      background-color: $color-dull-orange;
      color: $color-white-two;
      font-size: 14px;
      border-radius: 4px;
      border: none;
      width: 140px;
      height: 30px;
      // margin-top: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.collapsed {
  display: none;
}

.form__items__changeimg {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.squares {
  border: solid 1px $color-hospital-green;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

input:invalid {
  box-shadow: 0 0 5px 1px $color-dried-blood;
  // border-width: 2px; 
  // border-style: dashed; 
  // border-color: red;
}
