.form {
  .form__contextcreate {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button_create {
    background-color: $color-dull-orange;
    color: $color-white-two;
    font-family: $font-text;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    width: 199px;
    height: 50px;
    margin-bottom: 30px;
  }

  .error_create {
    color: red;
    font-family: $font-text;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  .card {
    // border-top: 1px solid $color-line;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // padding: 30px 0px;
    // margin: 40px 0px;

    &__new {
      font-size: 18px;
      font-family: $font-text;
      font-weight: bold;
      color: #54585a;
      text-align: center;
    }

    &__share {
      padding: 20px 0px;
      color: $color-dull-orange;
      width: 292px;
      height: 17px;
      margin: 5px 0 10px;
      font-family: $font-text;
      font-size: 12px;
      font-weight: 600;
      
      text-align: center;
    }
    &__box {
      width: 292px;
      margin: 5px 0 10px;
      font-family: OpenSans;
      font-size: 12px;
      color: $color-dull-orange;
      border: solid 1px white;
    }
  }

  .button_share {
    background-color: #00a0f5;
    color: #ffffff;
    font-size: 14px;
    border-radius: 3px;
    border: none;
    width: 181px;
    height: 30px;
    text-align: center;   
   padding: 6px 10px;
   margin-top: 20px;
   box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  }
}

.js__card {
  display: none;
}

.js__collapsedshare{
  border-top: 1px solid $color-line;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
}