.form {
  &__leyend {
    padding-left: 20px;

    &__icon {
      width: 21px;
      height: 18px;
      color: $color-dull-orange;
    }
    &__text {
      font-size: 18px;
      font-weight: bold;
      color: $color-gunmetal;
      font-family: $font-text;
    }
    &__icon2 {
      width: 16px;
      height: 18px;
      color: $color-gunmetal;
      padding-left: 230px;
      padding-right: 20px;
    }
  }
  /*
  &__items2 {
    font-size: 18px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: $font-text;
    font-weight: bold;
    color: #54585a;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__box2 {
      border: solid 1px #ffffff;
      color: #e17334;
      /* 
      border: solid 1px #ffffff;
      padding-left: 10px;
      margin-top: 7px;
      width: 350px;
      height: 30px;
      align-items: center;
      opacity: 0.5;
    }
    &__button2 {
      background-color: #00a0f5;
      width: 181px;
      height: 30px;
      margin: 10px 33px 30px 29px;
      padding: 3px 9px 6px 10.5px;
      border-radius: 4px;
      color: #ffffff;
      flex-direction: column;
      justify-content: center;
    }
  }*/
}
.button {
  background-color: $color-dull-orange;
  color: $color-white-two;
  font-weight: bold;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 18px;
  margin: auto;
}

.card {
  &__new {
    font-size: 18px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: $font-text;
    font-weight: bold;
    color: #54585a;
    display: flex;
    justify-content: center;

    &__box {
      width: 292px;
      height: 17px;
      margin: 5px 0 10px;
      font-family: OpenSans;
      font-size: 12px;
      color: var(--dull-orange);
      border: solid 1px white;
    }
  }
}

.button2 {
  background-color: #00a0f5;
  color: #ffffff;
  font-size: 14px;
  margin: 10px 33px 30px 29px;
  padding: 3px 9px 6px 10.5px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}
