.form {
  &__items {
    font-size: 14px;
    padding-top: 20px;
    font-family: $font-text;
    font-weight: bold;
    color: $color-dark-green-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &__box {
      border: solid 1px $color-hospital-green;
      padding-left: 10px;
      margin-top: 7px;
      width: 281px;
      height: 30px;
      align-items: center;
      opacity: 0.5;
      width: 100%;
    }
  }
}

.collapsed {
  display: none;
}

.action {
  text-align: center;
  padding-right: 20px;
}
.action__upload-btn {
  background-color: $color-dull-orange;
  color: $color-white-two;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  width: 140px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.action__hiddenField {
  /* Ocultamos el input de tipo "file" porque no podemos 
  darle los estilos que queremos */
  display: none;
}
// profile__image
.profile {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.profile__image,
.profile__preview {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid $color-hospital-green;
}
.profile__image {
  width: 30px;
  height: 30px;
}

.form__items-image{
  display: flex;
  padding: 10px 0px;
}