.form {
  .form__contextcreate{
    display: flex;
    align-items: center;
    justify-content: center
  }
  .button_create {
    background-color: $color-dull-orange;
    color: $color-white-two;
    font-family: $font-text;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    width: 199px;
    height: 50px;
    margin-bottom: 30px;
  }

  .card {
    border-top: 1px solid $color-line;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    // margin: 40px 0px;

    &__new {
      font-size: 18px;
      font-family: $font-text;
      font-weight: bold;
      color: #54585a;
      text-align: center;
    }

    &__share {
      padding: 20px 0px;
      color: $color-dull-orange;
    }
    &__box {
      width: 292px;
      margin: 5px 0 10px;
      font-family: OpenSans;
      font-size: 12px;
      color: $color-dull-orange;
      border: solid 1px white;
    }
  }

  .button_share {
    background-color: #00a0f5;
    color: #ffffff;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    width: 181px;
    height: 30px;
    text-align: center;
  }
}

.collapsed{
  display: none;
}