
.header {
  display: flex;
  justify-content: center;
}

.header_img {
  width: 201px;
  height: 50px;
  margin: 30px;

}
@media all and (min-width: 768px) {
  .header {
    justify-content: left;
  }
}